body {
  background-color: orange;
}

h1 {
    color: blue;
    text-align:center;
    font-size: medium;
}

h2 {
  color: green;
  text-align: center;
  font-size: medium;
}

  h3 {
    color: red;
    text-align: center;
    font-size: medium;
  }

  li {
    color: green;
    font-size: 24;
    text-align:center; 
  }

