body {
  background-color: gray;
}

h1 {
    color: blue;
    text-align:center;
    font-size: medium
    
    
}

h2 {
  color: purple;
  text-align: center;
  font-size: medium;
  justify-self: left;
}

  h3 {
    color: red;
    text-align: center;
    font-size: medium;
  }

h4 {
    color: green;
    font-size: 24pt;
    text-align: center;
}

ul li {
    color: green;
    font-size: 24pt;
    text-align: center; 
  
  }