body {
  background-color: orange;
}

h1 {
    color: blue;
    text-align: center;
    font-size: large;
}

h2 {
  color: greenyellow;
  text-align: center;
  font-size: medium;

  h3 {
    color: red;
    text align: center;
    font-size: medium;
  }