body {
  background-color: darkgrey;  
}

h1 {
    color: lavenderblush;
    text-align: center;
    font-size: medium;
}

h2 {
  color: lavenderblush;
  text-align: center;
  font-size: medium;

  h3 {
    color: lavenderblush;
    text align: center;
    font-size: medium;
  }
}